.hero {
	padding: 100px;
}

.heroImg {
	height: 600px;
	width: 700px;
	border-radius: 50px;
}

.heroParagraph {
	margin-top: -570px;
	margin-left: 790px;
	font-size: 22px;
}

.heroParagraph2 {
	margin-top: 110px;
	margin-left: 790px;
	font-size: 20px;
	font-weight: 600;
	color: #f43b26;
}

.heroHeading {
	margin-left: 790px;
	font-size: 45px;
	color: #0b2c3d;
}

.heroBtn {
	margin-left: 790px;
	background-color: #f43b26;
	color: #fff;
	border: 1px solid #f43b26;
	border-radius: 13px;
	padding: 15px 22px;
	font-weight: 700;
	margin-top: 60px;
}
